<header>
  <div class="container">
    <div class="header__justify">
      <div class="header__nav">
        <ul class="header__nav__list">
          <li class="header__nav__item"><a href="./experience.html" class="header__nav__link">Experience</a></li>
          <li class="header__nav__item"><a href="./projects.html" class="header__nav__link">Projects</a></li>
        </ul>
      </div>
      <div class="header__contacts contacts">
        <ul class="contacts__list">
          <li class="contacts__list__item"><a href="https://t.me/marrakesh_n" target=”_blank”
              class="contacts__list__link"><svg class="contacts__list__icon telegram" width="35" height="35">
                <use href="./images/icons.svg#telegram">
                </use>
              </svg></a></li>
          <li class="contacts__list__item"><a href="https://github.com/marrakeshn" target=”_blank”
              class="contacts__list__link"><svg class="contacts__list__icon github" width="35" height="35">
                <use href="./images/icons.svg#github">
                </use>
              </svg></a></li>
          <li class="contacts__list__item"><a href="https://www.linkedin.com/in/mark-nesvetey-886aa4130/"
              target=”_blank” class="contacts__list__link"><svg class="contacts__list__icon linkedin" width="35"
                height="35">
                <use href="./images/icons.svg#linkedin">
                </use>
              </svg></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>